@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
   font-family: 'Exo 2', sans-serif;
}

body {
   padding: 0;
   margin: 0;
   padding-bottom: 80px;
   padding-top: 80px;
}
.dn {
   display: none;
}
.parser_form_wrapper {
   margin-top: 50px;
}
#cardProductDesc {
   height: 125px;
}
#cardProductDesc.max_height_desc {
   height: 210px;
}
/* .imageItem {
   max-width: 100px;
   margin-right: 5px;
} */
.imageItem img {
   max-width: 100%;
   height: auto;
   margin-bottom: 20px;
   border: 1px solid #eee;
}
#productParams_table th {
   width: 60%;
   /* text-align: right;
   padding-right: 40px; */
}
#productParams_table td {
   width: 40%;
}
/* .productImages {
   display: flex;
} */
.btn_my {
   background: none;
   border: none;
   outline: none;
}
.sidebar {
   width: 60px;
   position: fixed;
   top: 90px;
   left: 10px;
}
#token {
   height: 90px;
   resize: none;
}
.rel {
   position: relative;
}
#searchResultList {
   position: absolute;
   top: 80px;
   left: 10px;
   right: 10px;
   transition: .3s;
   box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.13);
   max-height: 200px;
   overflow-y: auto;
}
#searchResultList li {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
}
#searchResultList li:hover {
   background-color: #0D6EFD;
   color: #fff;
}
#searchResultList em {
   color: #8C8C8C;
   font-size: 14px;
}

/* .productFormWrapper, .parseFormWrapper {
   max-width: 1200px;
   margin: auto;
   padding-top: 25px;
   padding-bottom: 25px;
}
.parseFormWrapper {
   border-bottom: 1px dotted #9999;
}
.productFormWrapper {
   display: flex;
}
.productFormWrapperLeft {
   margin-right: 50px;
}
.parseForm {
   display: flex;
   flex-wrap: wrap;
   max-width: 550px;
}
.parseForm input {
   width: 550px;
   margin-bottom: 20px;
}
.productForm {
}
.productForm input, .productForm textarea {
   width: 550px;
}
.productForm textarea {
   height: 100px;
   resize: none;
}
.parseFormWrapper p, .productFormWrapper p {
   margin-bottom: 8px;
   margin-top: 0;
}
.inputWrapper {
   margin-bottom: 15px;
} */