@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
   font-family: 'Exo 2', sans-serif;
}

body {
   padding: 0;
   margin: 0;
}
.formWrapper {
   max-width: 1200px;
   margin: auto;
   margin-top: 100px;
}
.parseForm {
   display: flex;
   flex-wrap: wrap;
   max-width: 400px;
}
.parseForm input {
   width: 400px;
   margin-bottom: 15px;
}
.productForm {
   margin-top: 35px;
}
.productForm input, .productForm textarea {
   width: 400px;
}
.productForm textarea {
   height: 100px;
   resize: none;
}
.formWrapper p {
   margin-bottom: 5px;
   margin-top: 0;
}
.inputWrapper {
   margin-bottom: 10px;
}